{% extends 'catalog/products.html' %}

{% block content %}
<div class="container text-center">
    <div class="col-12 text-center">
        <div class="card col-6">
            <div class="card-header">
                <h2>Восстановление пароля</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                <h3>Укажите ваш email</h3>
                <form method="post">
                    {% csrf_token %}
                    <input class="form-control mb-2" name="email"/>
                    <button type="submit" class=" mb-2 btn btn-primary form-control">Восстановить пароль</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}